.contact-body {
    margin: 10px 30px;
    max-width: 100%;
  }
  
  .contact-section{
    margin: 0 30px;
    padding: 30px;
  }
  
  .contact-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
  }
  
  .contact-header {
    padding: 20px;
  }
  
  .contact-header > h1 {
    font-size: 55px;
  }
  
  .form {
    padding: 20px;
  }
  
  .div-wrap > div {
    padding: 10px;
  }
  
  .div-wrap {
    display: flex;
    justify-content: center;
  }
  
  .div-wrap > div > input {
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 10px 20px 10px 15px;
    font-size: 15px;
    background-color: rgb(251, 252, 254);
  }
  
  .field-label {
    display: block;
    margin-bottom: 5px;
    color: rgb(143, 146, 158);
    letter-spacing: 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: none;
  }
  
  .message {
    max-width: 100%;
    padding: 0 10px;
  }
  
  .message > textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    background-color: rgb(251, 252, 254);
  }
  
  .priority {
    padding: 0 10px;
    margin-top: 10px;
    max-width: 50%;
  }
  
  .priority > select {
    width: 100%;
    padding: 18px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(251, 252, 254);
  }
  
  option {
    font-size: 15px;
  }
  
  .button {
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px;
  }
  
  .btn {
    border: none;
    background-color: black;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s, box-shadow 0.3s;
  }
  
  .btn:hover {
    opacity: 0.7;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
  }
